@import '../../assets/app/base.css';
@import '../../assets/app/icons.css';

body {
    -webkit-tap-highlight-color: rgb(0 0 0 / 0.00001);
    -webkit-user-select: none;
    user-select: none;
}

.current-mode {
    display: flex;
    align-items: center;
    flex-flow: row;
    gap: var(--homey-su-3);
}

.current-mode-caption {
    display: flex;
    align-items: flex-start;
    flex-flow: column;
    flex-grow: 1;
}

.current-mode-name {
    text-transform: capitalize;
}
