@import '../assets/app/base.css';
@import '../assets/app/icons.css';

*. *::before, *. *::after {
    box-sizing: border-box;
}

body {
    -webkit-tap-highlight-color: rgb(0 0 0 / 0.00001);
    -webkit-user-select: none;
    user-select: none;
}

.items {
    display: flex;
    margin-left: calc(var(--homey-su-2) * -1);
    margin-right: calc(var(--homey-su-2) * -1);
    align-items: stretch;
    flex-flow: column;
}

.items-empty {
    color: var(--rose);
    font-style: italic;
}

.item {
    display: flex;
    padding: var(--homey-su-2);
    align-items: center;
    gap: 15px;
    justify-content: start;
    border: 1px solid var(--homey-color-mono-05);
    border-left: 0;
    border-right: 0;
    border-radius: var(--homey-border-radius-small);
    cursor: pointer;
}

.item + .item {
    border-top: 0;
}

.item:hover {
    background: var(--homey-color-mono-01);
}

.item-caption {
    flex-grow: 1;
    font-weight: 500;
}

.item-icon {
    --size: 20px;
}

.item-icon-edit {
    --color: var(--homey-color-mono-70);
    --icon: '';
    --icon-secondary: '';
    --size: 16px;
}

.edit-overlay {
    position: absolute;
    display: flex;
    inset: 0;
    padding: 15px;
    background: rgb(from var(--homey-color-mono-90) r g b / .5);
    overflow: auto;
}

.edit {
    display: flex;
    padding: 15px;
    margin: auto;
    width: calc(100% - 30px);
    flex-flow: column;
    gap: 15px;
    background: var(--homey-color-mono-0);
    border-radius: var(--homey-border-radius);
    box-shadow: var(--homey-box-shadow);
}

.edit-icon {
    --size: 48px;

    margin-top: 30px;
    align-self: center;
}

.edit-name {
    margin-top: 6px;
    margin-bottom: 30px;
    align-self: center;
    font-size: 21px;
    font-weight: 700;
}

.color-select {
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
}

.color-select-item {
    --color: black;

    height: 33px;
    width: 33px;
    background: var(--color);
    border-radius: 99px;
    cursor: pointer;
    transition: opacity 120ms cubic-bezier(0.55, 0, 0.1, 1);
}

.color-select-item:hover {
    opacity: .8;
}

.color-select-item.active {
    outline: 3px solid white;
    outline-offset: -6px;
}

.icon-select {
    display: flex;
    flex-flow: row wrap;
    gap: 6px;
}

.icon-select-item {
    --color: var(--homey-color-mono-70);
    --size: 24px;

    height: 45px;
    width: 45px;
    border: 1px solid transparent;
    border-radius: var(--homey-border-radius-small);
    cursor: pointer;
}

.icon-select-item:hover {
    background: var(--homey-color-mono-02);
    border-color: var(--homey-color-mono-05);
}

.icon-select-item.active {
    --color: var(--sky);

    background: rgb(from var(--color) r g b / .25);
    border-color: rgb(from var(--color) r g b / .25);
}
