@import '../assets/app/base.css';
@import '../assets/app/icons.css';

*. *::before, *. *::after {
    box-sizing: border-box;
}

body {
    -webkit-tap-highlight-color: rgb(0 0 0 / 0.00001);
    -webkit-user-select: none;
    user-select: none;
}

.items {
    display: flex;
    margin-left: calc(var(--homey-su-2) * -1);
    margin-right: calc(var(--homey-su-2) * -1);
    align-items: stretch;
    flex-flow: column;
}

.items-empty {
    color: var(--rose);
    font-style: italic;
}

.item {
    display: flex;
    padding: var(--homey-su-2);
    align-items: center;
    gap: 15px;
    justify-content: start;
    border: 1px solid var(--homey-color-mono-05);
    border-left: 0;
    border-right: 0;
    cursor: pointer;
}

.item + .item {
    border-top: 0;
}

.item:hover {
    background: var(--homey-color-mono-01);
}

.item-caption {
    flex-grow: 1;
    font-weight: 500;
}

.item-icon {
    --size: 20px;
}

.item-icon-edit {
    --color: var(--homey-color-mono-70);
    --icon: '';
    --icon-secondary: '';
    --size: 16px;
}

.edit-overlay {
    position: fixed;
    display: flex;
    inset: 0;
    padding: 15px;
    background: rgb(from var(--homey-color-mono-90) r g b / .5);
    overflow: auto;
    transition: opacity 210ms cubic-bezier(0.55, 0, 0.1, 1);
}

.edit {
    display: flex;
    padding: 15px;
    margin: auto;
    width: calc(100% - 30px);
    flex-flow: column;
    gap: 15px;
    background: var(--homey-color-mono-0);
    border-radius: var(--homey-border-radius);
    box-shadow: var(--homey-box-shadow);
}

.edit-enter-active,
.edit-leave-active,
.edit-enter-active .edit,
.edit-leave-active .edit {
    transition: 420ms cubic-bezier(0.55, 0, 0.1, 1);
    transition-property: opacity, translate;
}

.edit-enter-from,
.edit-leave-to {
    opacity: 0;
}

.edit-enter-from .edit,
.edit-leave-to .edit {
    opacity: 0;
    translate: 0 60px;
}

.edit-icon {
    --size: 48px;

    margin-top: 30px;
    align-self: center;
}

.edit-name {
    margin-top: 6px;
    margin-bottom: 30px;
    align-self: center;
    font-size: 21px;
    font-weight: 700;
}

.color-select {
    display: flex;
    flex-flow: row wrap;
    gap: 9px;
}

.color-select-item {
    --color: black;

    height: 33px;
    width: 33px;
    background: var(--color);
    border-radius: 99px;
    cursor: pointer;
    transition: opacity 120ms cubic-bezier(0.55, 0, 0.1, 1);
}

.color-select-item:hover {
    opacity: .8;
}

.color-select-item.active {
    outline: 3px solid white;
    outline-offset: -6px;
}

.icon-select {
    display: flex;
    flex-flow: row wrap;
    gap: 6px;
}

.icon-select-item {
    --color: var(--homey-color-mono-70);
    --size: 24px;

    height: 45px;
    width: 45px;
    border: 1px solid transparent;
    border-radius: var(--homey-border-radius-small);
    cursor: pointer;
}

.icon-select-item:hover {
    background: var(--homey-color-mono-02);
    border-color: var(--homey-color-mono-05);
}

.icon-select-item.active {
    --color: var(--sky);

    background: rgb(from var(--color) r g b / .25);
    border-color: rgb(from var(--color) r g b / .25);
}

.statistics-grid {
    display: grid;
    gap: 21px 15px;
    grid-template-columns: repeat(2, 1fr);
}

.statistic {
    display: grid;
    gap: 6px 15px;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    line-height: 1;
}

.statistic .flowbits-icon {
    --color: var(--homey-color-mono-70);
    --size: 24px;

    grid-column: 1;
    grid-row: 1 / span 2;
}

.statistic-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.statistic-value {
    font-size: var(--homey-font-size-medium);
    font-weight: var(--homey-font-weight-bold);
}

.statistics-table {
    display: flex;
    margin-left: calc(var(--homey-su-2) * -1);
    margin-right: calc(var(--homey-su-2) * -1);
    padding: 1px 0;
    align-items: stretch;
    flex-flow: column;
    gap: 1px;
    background: var(--homey-color-mono-05);
}

.statistics-table-row {
    display: flex;
    padding: var(--homey-su-1) var(--homey-su-2);
    flex-flow: row nowrap;
    background: var(--homey-color-mono-0);
}

.statistics-table-row:hover {
    background: var(--homey-color-mono-01);
}

.statistics-table-row-name {
    flex-grow: 1;
}

.statistics-table-row-value {
    font-weight: var(--homey-font-weight-bold);
}
