@import '../../assets/app/base.css';
@import '../../assets/app/icons.css';

body {
    -webkit-tap-highlight-color: rgb(0 0 0 / 0.00001);
    -webkit-user-select: none;
    user-select: none;
}

.grid,
.list {
    display: grid;
    gap: 1px;
    grid-auto-rows: 1fr;
    background: var(--homey-color-mono-025);
}

.grid {
    grid-template-columns: 1fr 1fr;

    &:has(> .item:last-child:nth-child(odd))::after {
        display: flex;
        content: '';
        background: var(--homey-background-color);
    }
}

.list {
    grid-template-columns: 1fr;
}

.homey-dark-mode .grid {
    background: var(--homey-color-mono-100);
}

.item {
    display: flex;
    align-items: center;
    flex-flow: row;
    justify-content: start;
    gap: var(--homey-su-3);
    background: var(--homey-background-color);
    border: 0;
    line-height: 1;
    outline: 0;
    overflow: hidden;
    text-align: left;
    transition: 150ms cubic-bezier(0.55, 0, 0.1, 1);
    transition-property: background, border-radius, scale;
    will-change: transform;
}

.item:active {
    background: rgb(from var(--homey-background-color) r g b / .5);
    border-radius: var(--homey-border-radius-default);
    scale: 0.975;
}

.item-caption {
    display: flex;
    align-items: stretch;
    flex-flow: column;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
}

.item-caption .homey-text-medium {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.item.active::after {
    content: 'ÔÅò';
    color: var(--homey-icon-color-green);
    font-family: 'font-awesome', sans-serif;
    font-size: 16px;
}

.item-icon {
    --size: 24px;
}
