:root {
    --red: #ef4444;
    --orange: #f97316;
    --amber: #f59e0b;
    --yellow: #eab308;
    --lime: #84cc16;
    --green: #22c55e;
    --emerald: #10b981;
    --teal: #14b8a6;
    --cyan: #06b6d4;
    --sky: #0ea5e9;
    --blue: #3b82f6;
    --indigo: #6366f1;
    --violet: #8b5cf6;
    --purple: #a855f7;
    --fuchsia: #d946ef;
    --pink: #ec4899;
    --rose: #f43f5e;
}

body {
    color: var(--homey-text-color);

    -webkit-tap-highlight-color: rgb(0 0 0 / 0.00001);
    -webkit-user-select: none;
    user-select: none;
}

[data-readonly] {
    pointer-events: none;
    touch-action: none;
}

.flowbits-icon {
    --color: #64748b;
    --icon: '';
    --icon-secondary: '';
    --size: 42px;

    display: grid;
    height: var(--size);
    width: var(--size);
    align-items: center;
    justify-content: center;
}

.flowbits-icon::before,
.flowbits-icon::after {
    grid-column: 1;
    grid-row: 1;
    color: var(--color);
    font-family: 'font-awesome', sans-serif;
    font-size: var(--size);
    translate: 0 -.05em;
}

.flowbits-icon::before {
    content: var(--icon);
}

.flowbits-icon::after {
    content: var(--icon-secondary);
    opacity: .2;
}
