@import '../../assets/app/base.css';
@import '../../assets/app/icons.css';

.timer {
    display: flex;
    align-items: center;
    flex-flow: row;
    gap: var(--homey-su-3);
}

.timer-caption {
    display: flex;
    align-items: flex-start;
    flex-flow: column;
    flex-grow: 1;
    gap: var(--homey-su-1);
}

.timer-value {
    font-size: var(--homey-font-size-large);
}
