@import '../../assets/app/base.css';
@import '../../assets/app/icons.css';

.mount {
    display: flex;
    padding: var(--homey-su-4);
    align-items: stretch;
    flex-flow: column;
    gap: var(--homey-su-3);
}

.slider {
    --slider-color: var(--pink);
    --slider-icon: '';
    --slider-icon-secondary: '';
    --slider-value: 0;

    position: relative;
    height: 54px;
    background: var(--homey-color-mono-025);
    border-radius: var(--homey-border-radius-small);
    box-shadow: inset 0 0 0 1px var(--homey-color-mono-050);
    overflow: hidden;
}

.slider-icon {
    --icon: var(--slider-icon);
    --size: 24px;

    position: absolute;
    top: 0;
    bottom: 0;
    height: unset;
    width: unset;
    aspect-ratio: 1;
    transition: 210ms cubic-bezier(0.55, 0, 0.1, 1);
    transition-property: opacity, scale;
    will-change: opacity;
}

.slider-icon.start {
    --color: var(--homey-background-color);

    left: 0;
}

.slider-icon.end {
    --color: var(--slider-color);

    left: calc(var(--slider-value) * 1%);
}

.slider-knob {
    position: absolute;
    height: 24px;
    width: 4px;
    top: calc(50% - 12px);
    right: 6px;
    background: var(--homey-background-color);
    border-radius: 2px;
}

.slider-value {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: calc(var(--slider-value) * 1%);
    background: var(--slider-color);
    border-radius: inherit;
}

.slider:not(.active) .slider-value {
    transition: width 210ms cubic-bezier(0.55, 0, 0.1, 1);
    will-change: width;
}

.slider.low .slider-icon.start {
    opacity: 0;
    scale: .5;
}

.slider:not(.low) .slider-icon.end {
    opacity: 0;
    scale: .5;
}
